<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-465060-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-465060-8');
    </script>
<!-- end of Google Analytics -->

    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'oogiridojo/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'oogiridojo/style.css' %}">
    <link rel="stylesheet" href="{% static 'oogiridojo/toggle_switch.css' %}">
    {% block other_styles %}{% endblock %}
    <title>{% block page_title %}岡竜之介の大喜利道場{% endblock %}</title>
</head>
<body>


<header class="navbar navbar-expand-sm navbar-light bg-light">
    <a href="{% url 'oogiridojo:index' %}"><span id="site_name" class="navbar-brand">岡竜之介の大喜利道場</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {% block judgement_link %}{% endblock %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    お題一覧
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for odai in odais %}
                        <a class="dropdown-item" href="{% url 'oogiridojo:odai' odai.id %}">{{ odai.odai_text }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'oogiridojo:great_answers' %}">最近の３点回答</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'oogiridojo:yoi_ranking' %}">最近の良い回答ランキング</a>
            </li>
            <li class="nav-item">
                <form>
                    {% csrf_token %}
                    <span class="nav-link">
                        <label>
                            <label class="switch">
                                <input type="checkbox" id="voice_toggle" formaction="{% url 'oogiridojo:voice_toggle' %}" {% if voice_toggle %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                            <span id="switch_text">音を鳴らす</span>
                        </label>
                    </span>
                </form>
            </li>
        </ul>
    </div>

</header>

<div class="container">
{% block main_content %}{% endblock %}
</div><!-- end of container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="{% static 'oogiridojo/bootstrap.min.js' %}"></script>

<script src="{% static 'oogiridojo/script.js' %}"></script>
{% block other_scripts %}{% endblock %}

<!-- Audio -->
<audio id="sound-file1" preload="auto">
    <source src="{% static 'oogiridojo/yoi.mp3' %}" type="audio/mp3">
    <source src="{% static 'oogiridojo/yoi.wav' %}" type="audio/wav">
</audio>
<audio id="sound-file2" preload="auto">
    <source src="{% static 'oogiridojo/subarashi.mp3' %}" type="audio/mp3">
    <source src="{% static 'oogiridojo/subarashi.wav' %}" type="audio/wav">
</audio>
<!-- end of Audio -->

</body>
</html>
