{% extends "oogiridojo/base.html" %}
{% load static %}

{% block page_title %}ジャッジページ -- 岡竜之介の大喜利道場{% endblock %}
{% block main_content %}
    <section id="odai" class="odai_section">
        <h1 class="odai_text">{{ odai.odai_text }}</h1>

        <ul class="answer_list list-group">
            {% for answer in odai.answer_list %}
                {% if answer.judgement_set.all %}
                {% else %}
                    <li class="answer_text list-group-item">
                        {{ answer.answer_text }}
                        <strong>--{{ answer.free_vote_score }}</strong>
                        {% if answer.is_number_one %}
                            <strong><font color="red">１位！</font></strong>
                        {% endif %}


                        <ul class="tsukkomi_list">
                        {% for tsukkomi in answer.tsukkomi_set.all|dictsort:"id" %}
                            <li class="tsukkomi_text">
                                {{ tsukkomi.tsukkomi_text }}
                            </li>
                        {% endfor %}
                        </ul>

                        {% for judgement in answer.judgement_set.all %}
                            <span class="judgement_rank judgement_rank_{{ judgement.judgement_score }}">
                                {{ judgement.judgement_score }}点。
                            </span>
                            <span class="judgement_text">
                                {{ judgement.judgement_text }}
                            </span>
                        {% endfor %}
                        <form class="judgement_form" action="{% url 'oogiridojo:judgement_submit' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="answer_id" value={{ answer.id }}>
                            ランク
                            <input type="radio" required name="judgement_score" value=1>1
                            <input type="radio" required name="judgement_score" value=2 checked="checked">2
                            <input type="radio" required name="judgement_score" value=3>3
                            コメント
                            <input type="text" required name="judgement_text">
                            <input type="button" class="judge_button" value="ジャッジ">
                        </form>

                </li>
                {% endif %}
            {% empty %}
                <li>回答がありません。</li>
            {% endfor %}
        </ul>

    </section>

{% endblock main_content %}

{% block other_scripts %}
<script src="{% static 'oogiridojo/judgement_script.js' %}"></script>
{% endblock %}
