{% extends "oogiridojo/base.html" %}

{% load static %}

{% block other_metas %}
<meta name="description" content="岡竜之介の大喜利道場で出題されたお題の一覧です。">
{% endblock %}

{% block page_title %}お題一覧--岡竜之介の大喜利道場{% endblock %}

{% block other_styles %}
    <link rel="stylesheet" href="{% static 'oogiridojo/ranking_style.css' %}">
{% endblock %}

{% block main_content %}
<h1 id="ranking_title" class="element_title">{% block show_page_title %}お題一覧{% endblock %}</h1>
<ul>
  {% for odai in odai_list reversed %}
  <li><a href="{% url 'oogiridojo:odai' odai.id %}">{{ odai }}</a></li>

  {% empty %}
    <li>お題がありません。</li>
  {% endfor %}
</ul>
{% endblock main_content %}
