{% extends "oogiridojo/base.html" %}

{% load static %}

{% block page_title %}ツッコミ練習マシーン--岡竜之介の大喜利道場{% endblock %}


{% block other_styles %}
    <link rel="stylesheet" href="{% static 'oogiridojo/answer_game_style.css' %}">
{% endblock %}

{% block main_content %}
<h1 id="answer_game_title" class="element_title">ツッコミ練習マシーン</h1>
{% csrf_token %}
<input type="hidden" id="tsukkomi_game_submit_url" formaction="{% url 'oogiridojo:tsukkomi_game_submit' %}">
<input type="hidden" id="tsukkomi_game_url" formaction="{% url 'oogiridojo:tsukkomi_game' %}">

<div id="game_area">
    <div class="row justify-content-center">
        <div class="col-10 howtoplay">
            <ul>
                <li>ツッコミの練習をしましょう。</li>
                <li>開始すると、お題が表示されます。</li>
                <li>次に回答が表示されるので、適切なツッコミを返しましょう。</li>
                <li>15秒で次の回答に移ります。</li>
                <li>5つの回答にツッコミをしたら終了。採点されます。</li>
                <li>最後にツッコミを確認・修正し、投稿しておきましょう。</li>
            </ul>
        </div>
    </div>
<button id="tsukkomi_game_start_button" type="button" class="btn btn-danger" formaction="{% url 'oogiridojo:tsukkomi_game_start' %}">はじめる</button>
</div>

{% endblock main_content %}

{% block other_scripts %}
<script src="{% static 'oogiridojo/tsukkomi_game_script.js' %}"></script>
{% endblock %}
