body{
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
}
h2.odai_text{
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
    font-size:1.5rem;
    color:#555;
}
section.odai_section{
    margin-top:10px;
}
ul.answer_list{
    padding-left:15px;
}
li.answer_text{
    margin-top:2px;
    padding-bottom:5px;
}
ul.tsukkomi_list{
    padding-left:20px;
}
li.tsukkomi_text{
    color:#b44;
}
span.judgement_rank_1{
    color:#3a3;
}
span.judgement_rank_2{
    color:#ea0;
    font-size:1.1rem;
}
span.judgement_rank_3{
    color:#e00;
    font-size:1.2rem;
}
span.judgement_text{
    color:#3a3;
}
