body{
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
    padding-top:70px;
}
h1{
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
    font-size:1.5rem;
    color:#555;
}
h2{
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
    font-size:1.4rem;
    color:#555;
}
.odai_text{
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
    font-size:1.5rem;
    color:#555;
}
.container{
    margin-top:20px;
}
ul.answer_list{
    margin-top:2px;
}
li.answer_text{
    padding-bottom:1px;
    padding-top:4px;
    padding-left:8px;
    padding-right:5px;
}
ul.tsukkomi_list{
    padding-left:20px;
}
li.tsukkomi_text{
    color:#b44;
}
div.tsukkomi_form{
    text-align:right;
}
span.judgement_rank_1{
    color:#3a3;
}
span.judgement_rank_2{
    color:#ea0;
    font-size:1.1rem;
}
span.judgement_rank_3{
    color:#e00;
    font-size:1.2rem;
}
span.judgement_text{
    color:#3a3;
}
div.answer_buttons{
    text-align:right;
}
span.number_one_indicator{
    color:#e00;
}
